github "DaveWoodCom/XCGLogger" ~> 5.0.1
github "AliSoftware/Dip" ~> 5.1
github "Moya/Moya" ~> 8.0.5
github "Hearst-DD/ObjectMapper" ~> 2.2.8
github "kishikawakatsumi/KeychainAccess" ~> 3.0.2
github "onevcat/Kingfisher" ~> 3.10.4
github "RedMadRobot/input-mask-ios.git" ~> 2.2.6