github "DaveWoodCom/XCGLogger" ~> 5.0.1
github "AliSoftware/Dip"
github "Moya/Moya" ~> 8.0.5
github "Alamofire/Alamofire"
github "Hearst-DD/ObjectMapper" ~> 2.2.8
github "kishikawakatsumi/KeychainAccess" ~> 3.0.2
github "onevcat/Kingfisher"
github "RedMadRobot/input-mask-ios.git" ~> 2.2.6
github "youtube/youtube-ios-player-helper" ~> 0.1.4
github "VKCOM/VK-ios-sdk"
github "facebook/facebook-sdk-swift"
github "facebook/facebook-ios-sdk"
github "bwide/CollectionNode"
github "zvonicek/ImageSlideshow" ~> 1.4